*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
     
    
    body{
    
    background-image: url("forest-g20a2e78bb_1280.jpg");
    
    background-repeat: no-repeat;
    
    }
    
    
    
    .img{
    
    position: relative;
    
     top: 254px;
    
    width: 190px;
    
    height: 190px;
    
    border-radius: 10px;
    
    background-repeat: no-repeat;
    
     
    
    left: -250px;
    
    background-image: url("estrella.jpg");
    
    }
    
    .contenedor{
    
     
    
    height: 230px;
    
     
    
    }
    
    .texto{
    
    font-size: 30px;
    
    text-align: justify;
    
    color: black;
    
    top: 200px;
    
    
    
    }