*{

padding: 0px;

margin: 0px;

}


 

body{

background-image: url("forest-g20a2e78bb_1280.jpg");

background-repeat: no-repeat;

}



.img{

position: relative;

 top: 254px;

width: 190px;

height: 190px;

border-radius: 10px;

background-repeat: no-repeat;

 

left: 17px;

background-image: url("estrella.jpg");

}

.contenedor{

 

height: 230px;

 

}

.texto{

font-size: 30px;

text-align: justify;

color: black;

top: 200px;



}


.contenido{

    height: 280px;
    
    width: 100%;
    
    position: absolute;
    
    top: 410px;
    
     
    
    }
    
     
    
    .imagentecno{
    
     
    
    background-repeat: no-repeat;
    
    float:left;
    
    height: 200px;
    
    width: 260px;
    
    margin-left: 5px;
    
    margin-right:5px;
    
    background-image: url("medellin.jpeg");
    
    }
    
    
    
    .textotecno{
    
    text-align: justify;
    
    color: azure;
    
    font-size: 20px;
    
    
    
    }