*{

padding: 0px;

margin: 0px;

}


 

body{

background-image: url("milky-way-g60506a8b9_1280.jpg");

background-repeat: repeat;

}
.fondotecnologia{

    background-image: url("fondo.jpg");

    background-repeat: repeat;
}

.fondoingles{

    background-image: url("autumn-g055179c8a_1280.jpg");

    background-repeat: repeat;
}
.fondomate{

    background-image: url("fondo.jpg.png");

    background-repeat: repeat;
}

.img{

position: relative;

 top: 254px;

width: 190px;

height: 190px;

border-radius: 10px;

background-repeat: no-repeat;

 

left: 17px;

background-image: url("");

}

.contenedor{

 

height: 230px;

 

}

.texto{

font-size: 30px;

text-align: justify;

color: orange;

top: 200px;

}


.contenido{

    height: 500px;
    
    width: 70%;
    
    position: absolute;
    
    top: 400px;
    
     
    
    }
    .imagentecno{
    
     
    
    background-repeat: no-repeat;
    
    float:right;
    
    height: 200px;
    
    width: 260px;
    
    margin-left: 5px;
    
    margin-right:5px;
    
    background-image: url("estrella.jpg");
    
    }
    
    
    
    .textotecno{
    
    text-align: justify;
    
    color: wheat;
    
    font-size: 20px;
    
    
    
    }

    .imagensoc{
    
     
    
        background-repeat: no-repeat;
        
        float: left;
        
        height: 700px;
        
        width: 700px;
        
        margin-left: 5px;
        
        margin-right:5px;
        
        background-image: url("condicionhumana.drawio.png");
        
        }

        .textosoc{
    
            text-align: justify;
            
            color: wheat;
            
            font-size: 20px;
            
            
            
            }


        .imagening{
    
     
    
            background-repeat: no-repeat;
            
            float:right;
            
            height: 200px;
            
            width: 260px;
            
            margin-left: 5px;
            
            margin-right:5px;
            
            background-image: url("");
            
            }
            
            
            
            .textoing{
            
            text-align: justify;
            
            color: black;
            
            font-size: 20px;
            
            
            
            }

            .imagenmate{
    
     
    
                background-repeat: no-repeat;
                
                float:right;
                
                height: 200px;
                
                width: 260px;
                
                margin-left: 5px;
                
                margin-right:5px;
                
                background-image: url("");
                
                }
                
                
                
                .textomate{
                
                text-align: justify;
                
                color: black;
                
                font-size: 20px;
                
                
                
                }
        