.contenedor{
    width: 100%;
    height: 1400px;
    background-color:aqua;
}
.encabezado{
width: 100%;
height: 150px;
background-color: lawngreen;
text-align: center;
font-size: 40px;
}
.menu{
    width: 100%;
    height: 80px;
    background-color: rgb(60, 0, 201);
    text-align: center;
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
}
.contenedor2{
    display: flex;
width: 100%;
height: 150px;
background-color: rgb(255, 4, 4);
}
.izquierda{
    width: 20%;
    height: 1400px;
    background-color: rgb(10, 206, 255);
}
.centro{
    width: 60%;
    height: 1400px;
    background-color: salmon;
}
.derecha{
    width: 20%;
    height: 1400px;
    background-color: yellowgreen;
}
.tecnologia{
width: 120px;
height: 78px;
background-color: lightblue;
margin: 2px;
}
.ingles{
    width: 120px;
    height: 78px;
    background-color: lightgreen;
    margin: 2px;
}
.matematicas{
    width: 120px;
    height: 78px;
    background-color: lightpink;
    margin: 2px;
    }
.biologia{
    width: 120px;
    height: 78px;
    background-color: lightyellow;
    margin: 2px;
}
.sociales{
    width: 120px;
    height: 78px;
    background-color: mediumspringgreen;
    margin: 2px;
}